<div [ngSwitch]="command.action">
  <nb-icon status="primary" *ngSwitchCase="'ACTIVATE'" icon="checkmark-circle-2"></nb-icon>
  <nb-icon status="primary" *ngSwitchCase="'LOCK'" icon="lock"></nb-icon>
  <nb-icon status="primary" *ngSwitchCase="'CLOSE'" icon="close-circle"></nb-icon>
  <nb-icon status="primary" *ngSwitchCase="'UNLOCK'" icon="unlock"></nb-icon>
  <span *ngSwitchCase="'ACTIVATE'">ACTIVATE</span>
  <span *ngSwitchCase="'LOCK'">LOCK</span>
  <span *ngSwitchCase="'CLOSE'">CLOSE</span>
  <span *ngSwitchCase="'UNLOCK'">UNLOCK</span>
  <div>{{command.createdBy}}, {{command.createdOn | date:'medium'}}</div>
  <small>{{command.comment}}</small>
  <br>
</div>
