<nb-card>
  <nb-card-header>Change Password</nb-card-header>
  <nb-card-body>
    <p *ngIf="forced">Please change your password in order to access digital bank</p>
    <form class="form-horizontal" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <div class="form-group row">
        <label for="newPassword" class="label col-sm-3 form-control-label">New Password</label>
        <div class="col-sm-9">
          <input type="password" nbInput id="newPassword" placeholder="New Password"
            formControlName="newPassword" autocomplete="change-user-password">
          <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
            <p *ngIf="newPassword.hasError('minlength')"
              class="caption status-danger ng-star-inserted"> Must have at least {{newPassword.getError('minlength')['requiredLength']}} characters</p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="confirmNewPassword" class="label col-sm-3 form-control-label">Confirm Password</label>
        <div class="col-sm-9">
          <input type="password" nbInput id="confirmNewPassword" placeholder="Confirm Password"
            formControlName="confirmNewPassword" autocomplete="change-user-password">
          <p *ngIf="passwordForm.hasError('mismatch') && (confirmNewPassword.dirty || confirmNewPassword.touched)"
            class="caption status-danger ng-star-inserted">
            Passwords <strong>do not match</strong></p>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" nbButton [disabled]="!passwordForm.valid" status="warning">Change
            Password</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
