<nb-card class="password-card">
  <nb-card-header>Change Password</nb-card-header>
  <nb-card-body>
    <div *ngIf="forced">Please change your password in order to access digital bank</div>
    <form class="form-horizontal" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="newPassword" class="label form-control-label">New Password</label>
          <mat-icon class="help-icon" matTooltip="The new password is used to login again with the current username" matTooltipPosition="above">help</mat-icon>
        </div>
        <div class="col-sm-8">
          <input type="password" nbInput id="newPassword" placeholder="New Password"
            formControlName="newPassword" autocomplete="change-user-password">
          <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
            <div *ngIf="newPassword.hasError('minlength')"
              class="caption status-danger ng-star-inserted"> Must have at least {{newPassword.getError('minlength')['requiredLength']}} characters</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="confirmNewPassword" class="label form-control-label">Confirm Password</label>
          <mat-icon class="help-icon" matTooltip="The password should be matched with the above password" matTooltipPosition="above">help</mat-icon>
        </div>
        <div class="col-sm-8">
          <input type="password" nbInput id="confirmNewPassword" placeholder="Confirm Password"
            formControlName="confirmNewPassword" autocomplete="change-user-password">
          <div *ngIf="passwordForm.hasError('mismatch') && (confirmNewPassword.dirty || confirmNewPassword.touched)"
            class="caption status-danger ng-star-inserted">
            Passwords <strong>do not match</strong></div>
        </div>
      </div>
      <div class="form-group row">
        <span *ngIf="error">
          <div class="caption status-danger ng-star-inserted">{{error}}</div>
        </span>
      </div>
      <div class="form-group row">
        <div class="offset-sm-4 col-sm-8">
          <button type="submit" nbButton [disabled]="!passwordForm.valid" status="warning">Change
            Password</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

