:host /deep/ ng2-smart-table table > tbody > tr > td {
  font-size: 0.8rem;
}

.button-container {
  left: auto;
  right: 40px;
  top: auto;
  bottom: 20px;
  position: fixed;

  ngx-fab-button {
    padding-right: 3px;
  }
}

.fee-header {
  font-size: 0.925rem;
  font-weight: 500;
}
