:host /deep/ ng2-smart-table table > tbody > tr > td:hover {
  cursor: pointer;
}

:host /deep/ ng2-smart-table table > tbody > tr > td {
  font-size: 0.8rem;
}

:host /deep/ ng2-smart-table table > thead > tr > th {
  font-size: 0.8rem;
  a {
    font-size: 0.8rem;
  }
}

.button-container {
  left: auto;
  right: 30px;
  top: auto;
  bottom: 20px;
  position: fixed;
}
