<div class="search-action">
  <input nbInput type="search" (search)="search($event)" id="search" class="search-input"
    placeholder="Search customer data...">
</div>
<br>

<ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onCustomerRowSelect($event)"
  (custom)="onCustomAction($event)">
</ng2-smart-table>

<div class="button-container">
  <ngx-fab-button tooltip="Create new customer" title="Create new customer" icon="plus-outline" [link]="['create']"
    status="primary" [permission]="{ id: 'customer_customers', accessLevel: 'CHANGE'}"></ngx-fab-button>
  <ngx-fab-button tooltip="Manage Tasks" title="Manage Tasks" icon="checkmark-square-outline" [link]="['tasks']"
    status="info" [permission]="{ id: 'customer_tasks', accessLevel: 'READ'}"></ngx-fab-button>
  <ngx-fab-button tooltip="Manage custom fields" title="Manage custom fields" icon="file-text-outline"
    [link]="['catalog/detail']" status="info" [permission]="{ id: 'catalog_catalogs', accessLevel: 'READ'}">
  </ngx-fab-button>
</div>
