.button-container {
  left: auto;
  right: 40px;
  top: auto;
  bottom: 20px;
  position: fixed;

  ngx-fab-button {
    padding-right: 3px;
  }
}

.pager-buttons {
  display: flex;
  align-items: center;
  justify-content: left;

  button {
    margin-left: 5px;
  }

  .pager-text {
    font-weight: 400;
    font-size: 0.7rem;
    color: grey;
    margin: 0 1rem;
  }
}

:host /deep/ ng2-smart-table table > tbody > tr > td {
  font-size: 0.8rem;
}

:host /deep/ ng2-smart-table table > thead > tr > th {
  font-size: 0.8rem;
  a {
    font-size: 0.8rem;
  }
}

:host /deep/ ng2-smart-table .ng2-smart-action-multiple-select > input {
  font-size: 0.1rem;
}

:host /deep/ ng2-st-tbody-edit-delete {
  display: flex !important;
  height: 0 !important;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  height: auto;
  width: 90px;
  text-align: center;
  font-size: 0.8rem !important;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5dcfe3;
}
