.button-align {
  button {
    margin-left: 10px;
  }
}

.selector {
  width: fit-content;
}
.strength-bars {
  background: rgb(225, 242, 246);
  width: 30%;
  padding-top: 10px;
  padding-left: 15px;
  color: rgb(0, 124, 173);
}
