:host ng2-smart-table table > tbody > tr > td {
  font-size: 0.8rem;
}

:host ng2-smart-table table > thead > tr > th {
  font-size: 0.8rem;
  a {
    font-size: 0.8rem;
  }
}

:host ng2-smart-table table > tbody > tr > td:hover {
  cursor: pointer;
}

.button-container {
  left: auto;
  right: 40px;
  top: auto;
  bottom: 20px;
  position: fixed;

  ngx-fab-button {
    padding-right: 3px;
  }
}
