<div class="row">
    <div class="col-sm-8">
        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    </div>

    <div class="col-sm-4">
        <nb-card>
            <nb-card-header>Savings details</nb-card-header>
            <nb-card-body>

                <div class="row">
                    <b>Activation Date: </b>
                    <div>&nbsp; 12/08/2020</div>
                </div>

                <div class="row">
                    <b>Nominal Interest Rate: </b>
                    <div>&nbsp; 5</div>
                </div>

                <div class="row">
                    <b>Linked Loan: </b>
                    <div>&nbsp; 23</div>
                </div>

                <div class="row">
                    <b>Nominal Interest Rate: </b>
                    <div>&nbsp; 5</div>
                </div>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>Performance History</nb-card-header>
            <nb-card-body>

                <div class="row">
                    <b># of deposits: </b>
                    <div>&nbsp; 0</div>
                </div>
                <div class="row">
                    <b>Total Deposits: </b>
                    <div>&nbsp; 11000</div>
                </div>
                <div class="row">
                    <b>Interest Earned: </b>
                    <div>&nbsp;2213</div>
                </div>
                <div class="row">
                    <b>Saving Goal: </b>
                    <div>&nbsp; 5%</div>
                </div>
                <div class="row">
                    <b>Amount as Collateral: </b>
                    <div>&nbsp;51</div>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>