<div class="search-action">
  <input *ngIf="searchTerm" nbInput type="search" (search)="search($event)" class="search-input" [value]="searchTerm">
  <nb-search type="modal-move"></nb-search>
  <br>
</div>
<br>

<ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onOfficeRowSelect($event)">
</ng2-smart-table>

<div class="row pager-buttons" *ngIf="!loading">
  <span class="pager-text">Rows per page</span>
  <nb-select status="primary" [selected]="perPage" (selectedChange)="onPageSizeChange($event)">
    <nb-option *ngFor="let page of pageSizes" [value]="page">
      {{page}}
    </nb-option>
  </nb-select>
  <span class="pager-text"> {{pageIndex+1}} of {{officesData.totalPages}}</span>
  <button nbButton ghost status="primary" (click)="skipBack()" [disabled]="ifFirstPage">
    <nb-icon icon="skip-back-outline"></nb-icon>
  </button>
  <button nbButton ghost status="primary" (click)="movePrev()" [disabled]="ifFirstPage">
    <nb-icon icon="arrow-ios-back-outline"></nb-icon>
  </button>
  <button nbButton ghost status="primary" (click)="moveForward()" [disabled]="ifLastPage">
    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
  </button>
  <button nbButton ghost status="primary" (click)="skipEnd()" [disabled]="ifLastPage">
    <nb-icon icon="skip-forward-outline"></nb-icon>
  </button>
</div>
