:host /deep/ ng2-smart-table table > tbody > tr > td {
  font-size: 0.8rem;
}

:host /deep/ ng2-smart-table table > thead > tr > th {
  font-size: 0.8rem;
  a {
    font-size: 0.8rem;
  }
}

:host /deep/ ng2-smart-table table > tbody > tr > td:hover {
  cursor: pointer;
}

.button-container {
  left: auto;
  right: 40px;
  top: auto;
  bottom: 20px;
  position: fixed;

  ngx-fab-button {
    padding-right: 3px;
  }
}

.muted-text {
  color: gray;
}

.sub-header {
  margin-bottom: 3rem;
}

.address-icon {
  vertical-align: middle;
}

.pager-buttons {
  display: flex;
  align-items: center;
  justify-content: left;

  button {
    margin-left: 5px;
  }

  .pager-text {
    font-weight: 400;
    font-size: 0.7rem;
    color: grey;
    margin: 0 1rem;
  }
}
